{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block login_content %}
<div class="card login-card">

    <img src="{{ url_for('static', filename='images/mjcpa_logo.png') }}" class="logo">

    <h2 class="title">Welcome Back</h2>
    <p class="subtitle">Please sign in to access your dashboard.</p>

    <a class="login-btn" href="{{ url_for('auth.login') }}">
        <i class="fab fa-microsoft"></i> Sign in with Microsoft
    </a>
</div>
{% endblock %}
