.login-card {
    padding: 40px;
    width: 420px;
    text-align: center;
    background: white;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.logo {
    width: 140px;
    margin-bottom: 24px;
}

.title {
    margin-bottom: 12px;
    color: var(--primary-dark-3);
    font-weight: 600;
}

.subtitle {
    color: var(--text-light);
    margin-bottom: 32px;
}

.login-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 18px;
    background: var(--primary-dark-1);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s;
}

.login-btn:hover {
    background: var(--primary);
}
